# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# claude
claude-*.log
.claude/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# log files
*.local
.DS_Store
*.log

# typescript
*.tsbuildinfo

app-example
